
:root{
  --bg-primary-color: #FFEC7D;
}
html{
  background-color: var(--bg-primary-color);
}
#header img{
  max-width: 360px;
}
#root{
  width: 100%;
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
  
}

#root .bhdLno{
  width: 95vw;
  height: 95vw;
}


@media screen and (max-width: 1400px) {
  #root{
    min-width: 100%;
  }

  #header img{
  max-width: 240px;
}
}